{% extends "auctions/layout.html" %}

{% block body %}

<div class="px-2 pt-3 my-2 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">{{ list.title }}</h1>
    <div class="col-lg-7 mx-auto">
        <p class="lead mb-4">{{ list.description }} </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Add to Watchlist</button>
            <button type="button" class="btn btn-danger btn-lg px-4">Close Auction</button>
        </div>
    </div>
    <div class="overflow-hidden">
        <div class="container">
            <img src="{{ list.imageURL }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="{{ list.title }}" width="560" height="400" loading="lazy">
        </div>
    </div>
    <div class="col-lg-8 mx-auto">
        <div class="-grid gap-3 d-md-flex justify-content-md-center">
            <input type="text" class="py-2 px-2" aria-label="Place Bid" placeholder="Place your bid">
            <a href="#" type="button" class="btn btn-primary my-1 btn-lg px-4 me-lg-5">Place Now</a>
        </div>
    </div>
    
</div>

{% endblock body %}
