{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    
        {% if user.is_authenticated %}
            
            <form class="create-post mx-auto" action="{% url 'newpost' %}" method="post">
                {% csrf_token %}
                <input type="text" name="newpost" placeholder="What's on your mind?" required>
                <input type="submit" value="Post" class="btn btn-primary postbtn">
            </form>
        
        {% endif %}
   
    
        {% for post in pages %}
            <div class="feeds mx-auto">
                <div class="feed">
                    <div class="user">
                        <div class="profile-pic">
                            <img src="https://64.media.tumblr.com/7b28774544438d73ca8c1daad11402e0/88958e5f55a67155-fd/s250x400/a9ef3dad54f6c57a53fdeef1a793f0143a9aea27.jpg" alt="" />
                        </div>
                               
                        <div class="info">
                            <div class="d-flex flex-column">
                                <a class="fw-semibold fs-5" href="{% url 'profile' post.user.id %}">{{ post.user }}</a>
                                <small class="timestamp"> {{ post.timestamp }} </small>
                            </div>
                            {% if post.user.id == user.id %}
                            <span class="material-symbols-outlined edit" data-postid="{{ post.id }}" type="submit">
                                edit
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="" id="content{{ post.id }}">{{ post.content }}</div>
                    <div>
                        <div id="likes{{ post.id }}">{{ post.likes.all.count }}</div>
                        Likes
                    </div>

                    <!-- {% if user.is_authenticated %}
                        <button data-postid="{{ post.id }}" class="btn post-btn like">
                             {% if user in post.likes.all %} -->
                                <!-- <script>
                                    document.querySelectorAll('button[class]').forEach(btn => {
                                        btn.style.background = 'rgb(32, 120, 244)';
                                        btn.style.color = 'white';
                                    });
                                </script>
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </button>
                    {% else %}
                        <a class="btn like" style="margin-left: 40px; background: white; border: 1px solid rgb(32, 120, 244); color:rgb(32, 120, 244); display: inline-block;" href="{% url 'login' %}">Like</a>
                    {% endif %} -->

                    <div class="action-button">
                        <div class="interaction-buttton"> 
                            <span data-postid="{{ post.id }}" class="material-symbols-outlined like" type="submit">
                               favorite
                            </span>
                            <span class="material-symbols-outlined" type="submit">
                                chat_bubble
                            </span>
                        </div>
                    </div>
                    

                </div>
            </div> 
                
            {% empty %}
                <p>No posts available</p>
              
        {% endfor %}
        
    


    {% if pages.has_previous %}
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <a class="btn btn-primary" style="text-decoration: none;" href="?page={{ pages.previous_page_number }}">Previous page</a>
    </div>
    {% endif %}

    {% if pages.has_next %}
    <div style="width: 100%; display: flex; margin-bottom: 20px; justify-content: center; align-items: center;">
        <a class="btn btn-primary" href="?page={{ pages.next_page_number }}">Next page</a>
    </div>
    {% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}