{% extends "network/layout.html" %}

{% block body %}

    <h2 class="text-center w-50 mx-auto my-4">Login</h2>

    {% if message %}
        <div class="text-start w-50 mx-auto my-2">{{ message }}</div>
    {% endif %}

    <form class="text-center w-50 mx-auto" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-4">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group my-4">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary px-4" type="submit" value="Login">
    </form>

    <div class="text-center w-50 mx-auto my-2">Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>

{% endblock %}