:root {
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --color-white: hsl(252, 30%, 100%);
    --color-gray: hsl(252, 15%, 65%);
    --color-light: hsl(252, 30%, 90%);
    --color-dark: hsl(252, 30%, 17%);
    --color-primary: hsl(252, 75%, 60%);
    --color-success: hsl(120, 95%, 60%);
    --color-danger: hsl(0, 95%, 65%);
    --color-black: hsl(252, 30%, 10%);
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
  }

*, *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
}

a  {
  text-decoration: none;
  color: var(--color-black);
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
  }

  input {
    outline: none;
  }
  
.create-post {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
  }

.postbtn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
  }
  
.btn:hover {
    opacity: 0.8;
  }

  
.create-post input[type="text"] {
    justify-self: start;
    width: 100%;
    height: 2rem;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
  }

.feeds {
  width: 50%;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.5;
}  

.feed .user {
  display: flex;
  gap: 1rem;
}


.profile-pic img {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.info {
  width: 92%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

